.table-container {
  overflow-x: auto;

  outline: 0.0625rem solid var(--link-color);
  background-color: var(--body-bg);
}
.table {
  width: 100%;

  font-size: 0.875rem;
  white-space: nowrap;
  &__head {
    background-color: var(--bg-color);
    border-bottom: 0.0625rem solid var(--link-color);
    color: var(--light-text);

    &-th {
      padding: 0.75rem;
      text-align: left;
      font-weight: 400;
      font-size: clamp(0.8rem, 1vw, 1rem);
    }
  }
  &__body {
    &-tr {
      border-bottom: 0.0625rem solid var(--link-color);
      &:last-child {
        border-bottom: 0;
      }
    }
    &-td {
      padding: 0.75rem;
      vertical-align: middle;
      max-width: 15rem;
      font-size: clamp(0.8rem, 1vw, 1rem);
      @media screen and (max-width: 450px) {
        padding: 0.5rem;
      }
    }
    &-sender {
      display: flex;
      align-items: center;
    }
    &-img {
      width: 2rem;
      aspect-ratio: 1/1;
      border-radius: 999999px;
      background-color: var(--bg-color);
      outline: 0.0625rem solid var(--link-color);
    }
    &-action {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    &-btn {
      cursor: pointer;
    }
  }
}

@keyframes skeleton-img {
  0% {
    background-color: var(--bg-color);
  }
  100% {
    background-color: var(--primary-color);
  }
}
