.login-form {
  border: 0.125rem solid var(--border-color);
  border-radius: 0.25rem;
  padding: 2rem;
  box-shadow: var(--box-shadow);
  background-color: var(--body-bg);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  &__group {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }
  &__label {
    font-weight: 600;
  }
  &__input {
    padding: 0.5rem;
    border: 0.0625rem solid var(--border-color);
    border-radius: 0.25rem;
  }
}

.auth-btn {
  width: max-content;
  margin-inline: auto;
  padding: 0.7rem 2rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid var(--border-color);

  background-color: var(--secondary-color);

  &:hover {
    box-shadow: var(--box-shadow);
  }
}
