.layout {
  width: 100%;
  height: 100dvh;
  @media screen and (min-width: 1110px) {
    display: grid;
    grid-template-columns: 13.625rem 1fr;
  }
}
.layout__content {
  overflow: hidden;
}
.section {
  padding: 1rem;
}

.modal-delete {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  &__btn {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    &--yes {
      background-color: green;
    }

    &--no {
      color: white;

      background-color: red;
    }
  }
}
