.room-filters {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  &__buttons {
    display: flex;
    align-items: center;
    outline: 0.0625rem solid var(--border-color);
    border-radius: 0.3rem;
  }
  &__button {
    padding: 0.5rem 1rem;
    border-right: 1px solid var(--border-color);
    &:last-child {
      border-right: none;
    }
  }
  &__add {
    width: auto;
    background-color: var(--secondary-color);
    outline: 1px solid var(--border-color);
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
  }
  &__icon {
    width: 1.2rem;
  }
}

.room-filter {
  background-color: var(--secondary-color);
}
