.side-bar {
  padding: 1rem;
  background-color: lightgray;
  &__paths {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }
}
.sidebar-item {
  &__link {
    padding: 1rem;
    border-radius: 0.3rem;
    background-color: rosybrown;
    transition: background-color 0.3s ease-in;
  }
}
.active {
  background-color: red;
}
